.sidebar {
    max-width: 400px;
}

.main,
.card {
    float: left;
}


/* based on https://stackoverflow.com/a/30338814/1974918*/
pre {
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
    background-color: #ffffff;
}

code,
pre code {
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}